*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

background:var(--background);

color:var(--text);

font-family:var(--font-body);

}

.container{

max-width:var(--container);

margin:auto;

padding:60px 25px;

}

header{

text-align:center;

margin-bottom:80px;

}

.logo{

width:90px;

margin-bottom:30px;

}

.hotel-name{

font-family:var(--font-title);

font-weight:400;

font-size:34px;

line-height:1.2;

margin-bottom:35px;

}

h1{

font-family:var(--font-title);

font-size:72px;

font-weight:300;

letter-spacing:5px;

margin-bottom:15px;

}

header p{

font-size:15px;

color:var(--secondary);

letter-spacing:3px;

text-transform:uppercase;

}

.category-list{

display:flex;

flex-direction:column;

gap:25px;

max-width:500px;

margin:auto;

}

.category-list a{

text-decoration:none;

color:var(--text);

font-size:24px;

font-family:var(--font-title);

font-weight:400;

padding-bottom:18px;

border-bottom:1px solid var(--divider);

transition:.25s;

}

.category-list a:hover{

padding-left:15px;

color:var(--accent);

}
